<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="x-ua-compatible" content="ie=edge">-->
<!--    <title>Add Payment</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">-->
    <title>Add Payment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container my-5">
    <h3> Add Payment</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/payment/add}" th:object="${payment}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Alert ID</label>
                            <input type="text" th:field="*{alertId}" class="form-control"
                                   id="alertId" placeholder="Alert ID"/>
                            <label th:if="${#fields.hasErrors('alertId')}" th:errors="*{alertId}">Name Error</label>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Account</label>
                            <input type="text" th:field="*{account}" class="form-control"
                                   id="account" placeholder="Account"/>
                            <label th:if="${#fields.hasErrors('account')}" th:errors="*{account}">Name Error</label>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Application</label><br>
                            <input type="radio" name="application" value="HV" checked> HV<br>
                            <input type="radio" name="application" value="Equens"> Equens<br>
                            <input type="radio" name="application" value="Worldlink"> Worldlink<br>
                            <input type="radio" name="application" value="Flexcube"> Flexcube<br><br>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Amount</label>
                            <input type="number" step="0.01" th:field="*{amount}" class="form-control"
                                   id="amount" placeholder="Amount"/>
                            <label th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Name Error</label>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Currency</label>
                            <input type="text" th:field="*{currency}" class="form-control"
                                   id="currency" placeholder="Currency"/>
                            <label th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}">Name Error</label>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Status</label><br>
                            <input type="radio" name="status" value="Pending" checked> Pending<br>
                            <input type="radio" name="status" value="Raised"> Raised<br>
                            <input type="radio" name="status" value="Level3"> Level 3<br>
                            <input type="radio" name="status" value="Closed"> Closed<br><br>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>
                    </div>
                </form>
                <br/>
                <p class="my-1">
                    <a href="/payment/pending" class="btn btn-primary">
                        <i class="fas fa-circle"> Back To Payments List </i></a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>

</html>