<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="x-ua-compatible" content="ie=edge">-->
<!--    <title>Edit Clarification</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container my-5">
    <h3> Edit Payment</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/clarification/editClarification}" th:object="${clarification}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Clarification Account</label>
                            <input type="text" th:field="*{clarificationAccount}" class="form-control"
                                   id="clarificationAccount" placeholder="Clarification Account"/>
                            <label th:if="${#fields.hasErrors('clarificationAccount')}" th:errors="*{clarificationAccount}">Name Error</label>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Hit Name</label>
                            <input type="text" th:field="*{hitName}" class="form-control"
                                   id="hitName" placeholder="Hit Name"/>
                            <label th:if="${#fields.hasErrors('hitName')}" th:errors="*{hitName}">Name Error</label>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Related Case Number</label>
                            <input type="text" th:field="*{relatedCaseNumber}" class="form-control"
                                   id="relatedCaseNumber" placeholder="CIT..."/>
                            <label th:if="${#fields.hasErrors('relatedCaseNumber')}" th:errors="*{relatedCaseNumber}">Name Error</label>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Description</label>
                            <input type="text" th:field="*{description}" class="form-control"
                                   id="description" placeholder="Description..."/>
                            <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</label>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>