<!DOCTYPE html>
<html lang="en">
<head>
    <title>Information</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="alert alert-danger">
    <strong>Warning!</strong> There is clarification available for this account !
</div>
<br/>
<div class="btn-group">
    <a href="/clarification/all" class="btn btn-primary">Check Clarification List</a>
    <a href="/payment/pending" class="btn btn-primary">Back To Pending</a>
    <a href="/" class="btn btn-primary">Back To Main Page</a>
</div>
</body>
</html>